{
  "$action": "organization/group",
  "do": [
    {
      "$action": "string/join",
      "array": [
        "Token",
        {
          "__$afref__": "variable",
          "id": "a29c926a-bb7d-44e3-a338-0bd876301d82"
        }
      ],
      "name": "Create Authorization",
      "output-location": {
        "__$afref__": "data",
        "path": [
          "authorization"
        ]
      },
      "separator": " "
    },
    {
      "$action": "communication/http-request",
      "$disabled": false,
      "body": {
        "address": "1.1.1.1/32",
        "assigned_object_id": "8adcdd9e-99dc-4657-ab62-137251d86679",
        "assigned_object_type": "dcim.interface",
        "role": "loopback",
        "status": "active"
      },
      "decode-body": true,
      "header": {
        "Authorization": {
          "__$afref__": "data",
          "path": [
            "authorization"
          ]
        }
      },
      "method": "GET",
      "mock-result": {
        "body": "",
        "header": {},
        "status-code": 200
      },
      "name": "Get prefix ID",
      "output-location": {
        "__$afref__": "data",
        "path": [
          "prefixes"
        ]
      },
      "path": "/api/ipam/prefixes/",
      "query": {
        "prefix": "10.0.0.0/8"
      },
      "timeout": 5000,
      "url": "localhost",
      "url-variables": {},
      "use-mock-result": false
    },
    {
      "$action": "json/decode",
      "json": {
        "__$afref__": "data",
        "path": [
          "prefixes",
          "body"
        ]
      },
      "output-location": {
        "__$afref__": "data",
        "path": [
          "prefixes",
          "body"
        ]
      }
    },
    {
      "$action": "communication/http-request",
      "$disabled": false,
      "body": {
        "address": "1.1.1.1/32",
        "assigned_object_id": "8adcdd9e-99dc-4657-ab62-137251d86679",
        "assigned_object_type": "dcim.interface",
        "role": "loopback",
        "status": "active"
      },
      "decode-body": true,
      "header": {
        "Authorization": {
          "__$afref__": "data",
          "path": [
            "authorization"
          ]
        }
      },
      "method": "GET",
      "mock-result": {
        "body": "",
        "header": {},
        "status-code": 200
      },
      "name": "Get available IP address",
      "output-location": {
        "__$afref__": "data",
        "path": [
          "new ip address"
        ]
      },
      "path": "/api/ipam/prefixes/{id}/available-ips/",
      "query": {
        "limit": 1
      },
      "timeout": 5000,
      "url": "localhost",
      "url-variables": {
        "id": {
          "__$afref__": "data",
          "path": [
            "prefixes",
            "body",
            "results",
            0,
            "id"
          ]
        }
      },
      "use-mock-result": false
    },
    {
      "$action": "json/decode",
      "$disabled": false,
      "json": {
        "__$afref__": "data",
        "path": [
          "new ip address",
          "body"
        ]
      },
      "output-location": {
        "__$afref__": "data",
        "path": [
          "new ip address",
          "body"
        ]
      }
    },
    {
      "$action": "communication/http-request",
      "$disabled": false,
      "body": {
        "address": {
          "__$afref__": "data",
          "path": [
            "new ip address",
            "body",
            0,
            "address"
          ]
        },
        "assigned_object_id": "8adcdd9e-99dc-4657-ab62-137251d86679",
        "assigned_object_type": "dcim.interface",
        "role": "loopback",
        "status": "active"
      },
      "decode-body": true,
      "header": {
        "Authorization": {
          "__$afref__": "data",
          "path": [
            "authorization"
          ]
        }
      },
      "method": "POST",
      "mock-result": {
        "body": "",
        "header": {},
        "status-code": 200
      },
      "name": "Assign new IP address",
      "output-location": {
        "__$afref__": "data",
        "path": [
          "ip address assignment result"
        ]
      },
      "path": "/api/ipam/ip-addresses/",
      "query": {},
      "timeout": 5000,
      "url": "localhost",
      "url-variables": {},
      "use-mock-result": false
    },
    {
      "$action": "json/decode",
      "json": {
        "__$afref__": "data",
        "path": [
          "ip address assignment result",
          "body"
        ]
      },
      "output-location": {
        "__$afref__": "data",
        "path": [
          "ip address assignment result",
          "body"
        ]
      }
    }
  ],
  "name": "Nautobot create new ip address"
}